body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
  }
  nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
  }
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  .login-container, form, table {
    margin: 30px auto;
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  .odbyta {
    background-color: #d0f0c0;
  }
  .zaplanowana {
    background-color: #f0e68c;
  }
  #info, #info2{
    text-align: center;
  }
  table{
    width: 80%;
    max-width: 900px;
    border-collapse: collapse;
    text-align: center;
    background-color: #e6f0ff;
    border: 2px solid #3399ff;
    margin-bottom: 40px;
  }
  #tab{
    background-color: #3399ff;
    color: white;
  }
  #tab2, #tab{
    border: 1px solid #99ccff;
    padding: 15px;
  }
  img{
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #3399ff;
  }
  #info3{
    color: #0044cc;
    margin-top: 40px;
    text-align: center;
  }